html {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(12, 12, 12);
    scroll-behavior:smooth;
}
    


.light {
    font-weight: 250;
}
    
.regular {
    font-weight: 400;
}
    
.bold {
    font-weight: 550;
}



#bg-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 100vh;
    z-index: -1;
}



header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
}
    
h1.align-left {
    margin-right: auto;
}

h2 {
    font-size: 15px;
    margin: 0px;
    padding: 20px 0;
    color: white;
}

h2 a {
    text-decoration: none;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
}

h2 a:hover {
    color: black;
}

h2 a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    z-index: -1;
    padding: 0px 15px;
}

h2.align-center {
    margin: 10px 40px;
}

h3 {
    font-size: 15px;
    margin: 0px;
    padding: 20px 0;
    color: white;
}

h3.align-right {
    margin-left: auto;
}

a {
    outline:none;
    text-decoration: none;
    color: inherit;
}

.button-rectangle {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.button-rectangle:hover {
    background-color: #fff;
    color: #000; 
}



.about {
    height: 880px;
    font-size: 36px;
    position: relative;
}

.about .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    width: 97%;
    height: 70%;
    overflow: hidden;
    border-radius: 40px;
    background-color: black;
    margin-top: -40px;
    display: flex;
}

.about .rectangle img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.about .rectangle .text-container {
    position: relative;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -3%;
}

.about .rectangle p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    line-height: 1.5;
    margin-top: 270px;
    margin-left: -80px;
    margin-right: 60px;
    padding-bottom: 20px;
}

.about .rectangle p .hola {
    font-size: 40px;
}

.about .image-container {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

.about .rectangle .image-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-decoration: none;
    opacity:0.75;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 30px;
    margin-right: 50px;
    }

.about .rectangle .image-circle:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

.text-responsive{
    display: inline;
}



.quote {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    margin-bottom: 100px;
}

.quote .p1 {
    font-size: 40px;
    margin-top: 0px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.3;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote .p2 {
    font-size: 13px;
    margin-top: 0px;
    margin-left: 50px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.4;
    text-align: center;
}



.skills {
    height: 900px;
    font-size: 36px;
    position: relative;
}

.skills .rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -58%);
    width: 97%;
    height: 70%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    display: flex;
}

.skills .left-space,
.skills .center-space,
.skills .right-space {
    flex: 1;
}

.skills .left-space {
    width: 100%;
    position: relative;
}

.skills .pyramid {
    text-align: left;
    position: absolute;
    bottom: 0px;
}

.skills .pyramid-stage{
    margin:0px;
    margin-left: 0px;
    display: flex;

}

.skills .pyramid button {
    width: 110px;
    height: 110px;
    padding:0px;
    margin:0px;
}

.skills .button-pyramid {
    display: inline-block;
    width: 130px;
    height: 130px;
    text-decoration: none;
    color: #9d9c9c;
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 12px;
}

.skills .button-pyramid:hover {
    background-color: white;
    color: #000;
    border-color: transparent;
}

.skills .center-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.skills .right-space {
    position:relative;
    width: 100%;
    height: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.skills ul.list_skills {
    padding: 5px;
    margin: 5px;
    position: absolute;
    list-style: none;
    padding-right: 30px;
}

.skills li.p3 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 1.5px;
    transition: font-weight 0.3s;
    white-space: nowrap;
}

.skills li.p3:hover {
    font-weight: bold;
}

.skills .p1 {
    font-size: 50px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 1);
    line-height: 1;
    text-align: center;
}

.skills .p3 {
    font-size: 30px;
    margin-top: 0px;
    color: rgb(158, 158, 158);
    line-height: 1.98;
}

.skills .p2 {
    font-size: 21px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    text-align: center;
    max-width: 45%;
}

.skills li.p3:hover {
    font-weight: bold;
    color: #fff;
}



.contact_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.6);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    font-size: 36px;
}

.contact_me .preguntas-text {
    font-size: 19px;
    margin-top: 80px;
    margin-bottom: -70px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    text-align: center;
    max-width: 45%;
}

.contact_me .hablemos-text {
    font-size: 110px;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
    padding: 100px 0;
    text-align: left;
    color: rgb(255, 255, 255);
    letter-spacing: -3px;
    text-shadow: 2px 2px 4px rgba(29, 29, 29, 0.7);
}

.contact_me a.button-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    margin-top: -50px;
    vertical-align: middle;
}

.contact_me a.button-circle:hover {
    background-color: white;
    color: black;
}

.contact_me .mensajefinal-text {
    font-size: 15px;
    margin-top: 100px;
    color: rgba(184, 183, 183, 0.87);
    justify-content: center;
    text-align: center;
}



footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

footer h2.align-right {
    margin-left: 2vw;
}


.topnav{
    display: none;
}

#hamburger-input{
display: none;
}



@media screen and (max-width: 1340px) {
    /* para tablets */

    /* solo cambiar estas lineas en github*/
    .about .rectangle .text-container {
        display: flex;
        align-items: flex-end;
    }
    
    .about .rectangle p {
        flex:1;
        margin-top: 0px;
        padding-bottom: 0px;
    }
    
    .skills {
        height: 115vh;
        font-size: 36px;
        position: relative;
        padding-bottom:4vh;
        margin-left:0.5vh;
        margin-right: 0.5vh;
    }

    .skills ul.list_skills {
        padding-left:00vw;
        padding-right: 1.6vw;
        white-space: nowrap;
    }
    .skills .p1 {
        font-size: 1.6rem;
    }
    .skills .p2 {
        font-size: 1.4rem;
    }
    .skills .p3 {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 768px) {
    /* para moviles */

    body {
        overflow-x:hidden;
    }


    header {
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2vw;
        margin-bottom: 2vh;
    }
    
    h1 {
        font-size: 1.5rem;
        margin: 0;
        padding: 2px 0;
        color: rgb(255, 255, 255);
        text-shadow: 3px 3px 1px rgb(0, 0, 0);
    }

    header h2.align-center {
        margin: 0rem 0.5rem;
        white-space: nowrap;
    }
    header h2 {
        font-size: 0.6rem;
    }
    header h3 {
        font-size: 0.6rem;
        margin: 0px;
        padding: 0rem 0;
        color: white;
        line-height: 0.8rem;
    }
    header .button-rectangle {
        width: min-content;
        display: inline-block;
        padding: 0.4rem 0.4rem;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 0.75rem;
        background-color: transparent;
        transition: background-color 0.3s ease;
    }


    .text-responsive{
        display: none;
    }

    .about {
        margin-top: 15vh;
        height: 65vh;
        font-size: 36px;
        position: relative;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 40px;
    }
    
    .about .rectangle {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 40px;
        background-color: transparent;
        margin-top: 0px;
        display: flex;
    }
    
    .about .rectangle img {
        width: 100%;
        height: 105%;
        object-fit: cover;
        top:0;
        margin-left: -20vw;
    }
    
    .about .rectangle .text-container {
        position: relative;
        flex: 1;
        padding: 1rem;
        padding-left:0;
        bottom:0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        box-sizing: border-box;
        margin-right: 1vw;
        
    }
    
    .about .rectangle p {
        color: rgba(255, 255, 255, 0.9);
        font-size: 0.7rem;
        line-height: 1.2;
        margin-top: 0;
        margin-left: -32vw;
        margin-right: 0px;
        padding-bottom: 0px;
        text-align: right;
    }
    
    .about .rectangle p .hola {
        font-size: 1.5rem;
    }
    
    .about .image-container {
        display: none;
    }



    .quote {
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 0px;
        padding-top: 15vh;
        margin-bottom: 100px;
    }
    
    .quote .p1 {
        font-size: 1rem;
        margin-top: 0px;
        margin-right: 15vw;
        margin-left: 15vw;
        color: rgba(255, 255, 255, 1);
        line-height: 1.2;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .quote .p2 {
        font-size: 0.7rem;
        margin-top: 1.5vh;
        margin-left: 25vw;
        margin-right: 25vw;
        color: rgba(255, 255, 255, 1);
        line-height: 1.15;
        text-align: center;
    }

    

    .skills {
        height: 55vh;
        font-size: 36px;
        position: relative;
        padding-bottom:4vh;
        margin-left:0.5vh;
        margin-right: 0.5vh;
    }
    
    .skills .rectangle {
        position: absolute;
        top: 0%;
        left:0;
        transform: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 40px;
        display: flex;
        padding-right: 0;
    }
    
    .skills .left-space,
    .skills .center-space,
    .skills .right-space {
        flex: 1;
    }
    
    .skills .left-space {
        width: 100%;
        position: relative;
    }
    
    .skills .pyramid {
        text-align: left;
        position: absolute;
        bottom: 0px;
        padding-right: 30vw;
        padding-left: 2vw;
        padding-bottom: 2vw;
    }
    
    .skills .pyramid-stage{
        margin:0px;
        margin-left: 0px;
        padding-top: 0;
        margin-top: 0;
        display: flex;
    
    }
    
    .skills .pyramid button {
        width: 7vh;
        height: 7vh;
        padding:0px;
        margin:0px;
    }
    
    .skills .button-pyramid {
        display: inline;
        text-decoration: none;
        color: #e2e2e2;
        background-color: transparent;
        border: 0.5px solid rgb(201, 199, 199);
        border-radius: 50%;
        text-align: center;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        font-size: 0.47rem;
        margin-top: 0;
    }
    
    .skills .button-pyramid:hover {
        background-color: white;
        color: #000;
        border-color: transparent;
    }
    
    .skills .center-space {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-end;
        margin-top: 3vh;
    }

    .skills .center-space .p1{
        font-size: 1.3rem;   
        text-align: right;
        padding-left: 30vw;
        padding-right:5vw;
        line-height: 1.1;
    }

    .skills .center-space .p2{
        font-size: 0.8rem;
        text-align: right;
        padding-right:5vw;
    }
    
    .skills .right-space {
        position:absolute;
        width: 100%;
        height: 100%;
        text-align: right;
        padding-top: 3vh;
    }
    
    .skills ul.list_skills {
        
        display: block;
        padding: 0px;
        margin: 0px;
        position:initial;
        list-style: none;
        padding-left:00vw;
        padding-top: 16vh;
        padding-bottom: 5vh;
        padding-right: 5vw;
        line-height:0.5;
    }
    
    .skills li.p3 {
        margin-right: 0px;
        margin-bottom: 0vh;
        margin-top: 0px;
        transition: none;
        line-height: 0;
    }
    
    .skills .p3 {
        font-size: 0.7rem;
        margin-top: 0px;
        margin-bottom: 0;
        color: rgb(196, 196, 196);
        line-height: 0;
    }

    

    .contact_me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.6);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top:15vh;
        padding-top: 0vh;
    }

    .contact_me .preguntas-text {
        font-size: 0.75rem;
        color: rgba(255, 255, 255, 1);
        line-height: 1.5;
        text-align: center;
        max-width: 90%;
        white-space: nowrap;
        margin-top: 0;
        margin-bottom:0em;
    }

    .contact_me .hablemos-text {
        font-size: 2.5rem;
        line-height: 1;
        margin: 0;
        margin-top:0;
        padding-top:1rem;
        text-align: left;
        color: rgb(255, 255, 255);
        letter-spacing: -3px;
        text-shadow: 2px 2px 4px rgba(29, 29, 29, 0.7);
    }    

    .contact_me a.button-circle {
        display: inline-block;
        width: 20vw;
        height: 20vw;
        text-decoration: none;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 20vw;
        transition: background-color 0.3s, color 0.3s;
        font-size: 0.7rem;
        margin-top: -11vh;
        margin-bottom:1vh;
        vertical-align: middle;
    }  
    
    .contact_me .mensajefinal-text {
        text-align: center;
        font-size:0.55rem;
        margin-top: 1.4vh;
        line-height: 0.9rem;

    }



    footer{
        height: min-content;
        margin-top:3.5vh;
        flex-direction: column;
        justify-content: center;
    }

    footer h1.align-left{
        
        margin-right:unset;
        font-size: 1.5rem;
        margin-bottom:0vh;
        padding-bottom:0;

    }

    footer h2.align-right{
        font-size: 0.6rem;
        margin-top:1vh;
        padding-top:0;
        margin-left: 0;
    }

    

    header{
        display:none;
    }

    .topnav {
        display: flex;
        overflow: visible;
        background-color: black;
        justify-content: space-between;
        position: fixed;
        height: 5vh;
        align-items: center;
        padding-left: 5vw;
        width: 94vw;
        margin-left: 0;
        margin-right: 0;
        top:0;
        left:0;
        opacity: 1;
        z-index: 5;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        top: 0;
        transition: top 0.3s;
    }

    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        
    }
    
    .active {
        color: white;
    }

    .topnav #hamburger-menu .hamburguer-icon{
        height: 100%;
        margin-left:-3vh;
        filter:invert(1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .topnav #hamburger-menu .hamburguer-icon img{
        width: 60%;
    }

    #hamburger-menu {
        top:0;
        width: 4vh;
        height: inherit;
        object-fit: contain;
        border: none;
        padding: 0px;
        margin: 0px;
        font-family: 'Cabin', Sans-serif;
        z-index: 3;
    }

    #hamburger-menu #sidebar-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: -850px;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 0.3s;
        padding: 0px 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }

    #hamburger-menu h3 {
        color: white;
        font-size: 1.75rem;
        margin-top: 5vh;
    }

    #hamburger-menu ul {
        padding-left: 0px;
    }

    #hamburger-menu li {
        list-style-type: none;
        line-height: 3rem;
        text-align: center;
    }

    #hamburger-menu a {
        color: white;
        font-size: 1.3rem;
        text-decoration: none;
    }

    #hamburger-menu a:hover {
        text-decoration: none;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        right: 0;
    }
}
